<h4><a href="/">Go Home</a></h4>
<hr>
<div class="alert alert-danger" role="alert">
  Sorry, your form was incomplete. Contact jensen.sara.e@gmail.com with site usability feedback. Go back in your browser, or click <a href="/">here</a> to start over.
</div>
